<!doctype html>
<html>  
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="javascripts/first.js"></script>
</head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>
        mywebsite
    </title>


<p class="console">
  <span id="f1">root</span>
  <span class="f2">@</span>
  <span id="f3">home:</span>
  <span class="f2">~ $></span>
  <span id="caption"></span>
  <span id="cursor">|</span>
</p>

</html>